body{
    background-color: blanchedalmond;    
}

h1{ 
    font-family:'Monotype Corsiva';
    color: rgb(168, 49, 139);
    text-align: center;
    font-size: 40px;
}

p{
    font-family: arial;
    text-align: center;
    font-weight: bold ;
    font-size: 18px;
}

.imagemZelda{
    width: 600px;
}
.geral{
    width: 900px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
header{
    background-color: blueviolet;
    padding: 5px;
}
